div.thumbnails div {
    border: none;
    background: none;
    text-align: center;
}

img.thumbnail {
    border: 1px solid grey;
    background: white;
}

.thumbnail.filename {
    word-wrap: break-word;
    white-space: normal;
}